.container-form {
  @apply col-span-4 pb-24 md:self-start md:col-span-6 md:pl-8 md:pt-8 md:pb-12;
}

@media (width >= 768px) {
  .container-form {
    padding-right: clamp(0px, 2vw, 10rem);
  }
}

@media (width >= 1024px) {
  .container-form {
    padding-right: clamp(0px, 7vw, 10rem);
  }
}

@media (width >= 1280px) {
  .container-form {
    padding-right: clamp(0px, 11.7vw, 10rem);
  }
}
