@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary font-sans;
}

.r-grid {
  grid-template-columns: repeat(4, minmax(1rem, 4.5rem));
  @apply px-6 grid justify-center gap-4;
}

footer.r-grid {
  @apply gap-y-6;
}

@media (width >= 768px) {
  .r-grid {
    grid-template-columns: repeat(12, minmax(1rem, 4rem));
    grid-gap: clamp(0px, 2.35vw, 2rem);
    padding-left: clamp(0px, 2vw, 120px);
    padding-right: clamp(0px, 2vw, 120px);
  }
}

@media (width >= 1024px) {
  .r-grid {
    grid-template-columns: repeat(12, minmax(1rem, 4rem));
    grid-gap: clamp(0px, 2.35vw, 2rem);
    padding-left: clamp(0px, 8.82vw, 120px);
    padding-right: clamp(0px, 8.82vw, 120px);
  }
}

input[type='checkbox'] {
  @apply appearance-none w-4 h-4 bg-no-repeat;
  -webkit-appearance: none;
  background: url('../../public/img/checkmark.png');
  background-size: 0;
}

input[type='checkbox']:checked {
  @apply bg-contain;
}
