@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary font-sans;
}

.r-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(1rem, 4.5rem));
  grid-gap: 1rem;
  justify-content: center;
  padding: 0 24px;
}

@media (width > 768px) {
  .r-grid {
    grid-template-columns: repeat(12, minmax(1rem, 4rem));
    grid-gap: clamp(0px, 2.35vw, 2rem);
    padding: 0 clamp(0px, 8.82vw, 120px);
  }
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url('../../public/img/checkmark.png') no-repeat;
  background-size: 0;
}

input[type='checkbox']:checked {
  background-size: contain;
}
