.main {
  min-height: calc(100vh - 170px);
  @apply relative md:pb-16;
}

.blur-left {
  background-image: url('../../public/img/blur-asset-left.png');
  @apply hidden md:block;
  @apply bg-cover absolute bottom-0 left-0 w-[432px] h-[768px];
}

.blur-right {
  background-image: url('../../public/img/blur-asset-right.png');
  @apply hidden md:block;
  @apply bg-cover absolute bottom-0 right-0 w-[432px] h-[768px];
}
